<div id="page-outer">
  <div id="page-container">
    <div id="page-node-home">
	  </div>
      <div id="main-content" class="span12">
		
      </div>
      <div id="sidebar" class="span2">
     	
      </div>
    </div>
  </div>
</div>