<div id="content">
</div>
<div id="sidebar"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Pixar.Routers.QuestionsRouter({questions: <%= @questions.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>