<h1>Listing questions</h1>

<table id="questions-table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Rules list</th>
    <th>Customized rule</th>
    <th>Credit</th>
    <th>Reputation</th>
    <th>Is blind</th>
    <th>Is community</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Question</a>