<div id="left-content"></div>
<div id="main-content" class="span12">
  <ul class="tabs container-tab">
    <li class="active"><a href="javascript:void(0)">热门问题</a></li>
    <li><a href="javascript:void(0)">Settings</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
  </ul>
  <div id="question-content-container">
    
  </div>
</div>
<div id="right-content" class="span2"></div>