<form id="new-question" name="question">
  <fieldset>
    <legend>New question</legend>
    <div class="clearfix">
      <label for="title">Title</label>
      <div class="input">
        <input class="xxlarge" size="30" type="text" name="title" id="title" value="<%= title %>" >
      </div>
    </div>
    <div class="clearfix">
      <label for="content">Content</label>
      <div class="input">
        <textarea class="xxlarge" rows="3" id="content" value="<%= content %>"></textarea>
        <span class="help-block">
          Block of help text to describe the field above if need be.
        </span>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn primary">Create Question</button>&nbsp;<a href="#/index" class="btn">Back</a>
    </div>
  </fieldset>
</form>
