<div class="quesiotn_info well">
  <div id="quesiotn_info_title">
    <div id="quesiotn_info_credit" class="alert-message info">
      <span>悬赏金额</span></br>
      <div class="alert-message block-message success credit_info"><span><%= credit %>元</span></div>
    </div>
    <span><%= title %></span>
  </div>
  <div class="shadow">
    <div class="section question_info_detail">
      <%= content %>
      <div class="question_detail_buttons">
        <div id="answer_button">参加竞标</div>
      </div>
    </div>
  </div>
  <div class="article-foot"></div>
</div>
