<h3><%= title %></h3>
<p><%= content %></p>

<div id="answer_button">参加竞标</div>

<a href="#/index">Back</a>

<div id="dlg_new_answer">
  <form id="new-answer">
    <textarea name="content" id="content" class="xxlarge" rows="8"></textarea>
  </form>
  <span id="dlg_new_answer_error"></span>
</div>
