<div class="article">
  <h3><%= title %></h3>
  <div class="shadow">
    <div class="section">
      <%= content %>
      <div class="question_detail_buttons">
        <div id="answer_button">参加竞标</div>
      </div>
    </div>
  </div>
  <div class="article-foot"></div>
</div>

<div id="dlg_new_answer" style="display:none">
  <form id="new-answer">
    <textarea name="content" id="content" class="xxlarge" rows="8"></textarea>
  </form>
  <span id="dlg_new_answer_error"></span>
</div>
