<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Credit:</b>
  <%= credit %>
</p>

<p>
  <b>Reputation:</b>
  <%= reputation %>
</p>


<a href="#/index">Back</a>