<div class="main-content messages-main-content" style="min-height: 795px; ">
  <div class="messages-header">
    <div class="btn new-messages-btn">撰写新私信</div>
    <h1>私信</h1>
    
  </div>
  <div class="stream-manager js-stream-manager-container">
  </div>
</div>
<div id="details-pane-outer" style="top: 60px; ">
  <div class="details-pane-shell">
    <div class="details-pane">
      
    </div>
  </div>
</div>
