
	<div class="message-header">
		<span class="message-page-title">
			<span class="ui-icons ui-icons-position" id="messages-icon"></span>
			<span class="ui-icons-title">私 信</span>
		</span>
		<button id="btn-send-message" class="blue-small">+ 新私信</button>
	</div>
	<div id="conversations-container">
		
	</div>
	<div id="conversations-empty">
		There's no message in your message box now. 
		<a id="compose-message-link" href="#">Compose a new message.</a>
	</div>
