/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require_self
 *= require Aristo
 *= require questions
 *= require notifybar
*/

body{
  padding-top: 60px;
}
.header_left .nav{
  float:right;
  color:#ddd;
}
.header_left .nav li{
  padding:2px;
  margin-left:10px;
  cursor:pointer;
  min-width:55px;
}
.header_left .nav li:hover{
  background-color:#363636;
}
.header_left .nav li a:hover;{
  color:#fff;
}
.dropdown-menu a{
  color:#fff;
}