ul.questions{
  li h3{
    font-weight:normal;
  }
}
#additional_rule, #dlg_new_answer{
  display:none;
}
.credit_label{
  padding-top:11px;
}
.credit_value, .reputation_value{
  margin-right:30px;
}
#new-answer{
  margin-top:10px;
  margin-bottom:5px;
}

.article{
  background:white;
}

.article h3 {
  font-family: "Gotham","proxima-nova-1","proxima-nova-2",'Helvetica Neue',Helvetica,sans-serif;
  line-height: 40px;
  text-shadow: 0 1px 1px white;
  position: relative;
  padding: 9px 19px 9px;
  background-color: #E7E7E7;
  border: 1px solid #C3D5DA;
  border-bottom: 1px solid #E7E7E7;
  color: dimGray;
}
.article h3 {
  background-color: #ACC3CC;
  border: 1px solid #9EB4BD;
  border-bottom: 1px solid #ACC3CC;
}

.article .shadow {
  -webkit-box-shadow: 0 0 20px #CBCBCB;
  -moz-box-shadow: 0 0 20px #CBCBCB;
  -o-box-shadow: 0 0 20px #CBCBCB;
  box-shadow: 0 0 20px #CBCBCB;
}
.article .section {
  border-top: 1px solid #9EB4BD;
}
.article .section {
  background-color: white;
  border: 1px solid #C3D5DA;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid white;
  padding: 0px 16px;
  position: relative;
  font-size: 15px;
}

.article .article-foot, .article .article-head-thin {
height: 9px;
position: relative;
background-color: #E7E7E7;
border: 1px solid #C3D5DA;
}
.article .article-foot {
border: 1px solid #9EB4BD;
background-color: #ACC3CC;
}

.article p{
  font-size:16px;
  line-height:1.6;
}

.question_detail_buttons{
  text-align:center;
  padding:20px 0;
}


/* add question part */
#new-question{
  margin-left:-70px;
}
.endDateBox{
	margin-left:80px;
}
.jquery-notify-bar{background:red;position:fixed;top:0px;width:100%;font-size:15px;z-index:99999;text-align:left;height:42px;text-align:center;filter:alpha(opacity=90);opacity:.9;}
.jquery-notify-bar .bar_content{width:970px;color:#000;margin:0 auto;}
.jquery-notify-bar .bar_content .bar_message{float:left;margin:0 5px;line-height:42px;}
.jquery-notify-bar .bar_content .bar_title{float:left;font-size:18px;font-weight:bold;letter-spacing:1px;line-height:42px;}
.jquery-notify-bar .bar_content .bar_divider{float:left;border-left:1px solid #202020;height:30px;margin:5px 15px;filter:alpha(opacity=30);opacity:.3;}
.jquery-notify-bar .error .bar_content .bar_divider{border-left:1px solid #fff;filter:alpha(opacity=80);opacity:.8;}
.jquery-notify-bar .bar_content .btns-area{float:right;width:15px;margin:13px 20px 5px 0;}
.jquery-notify-bar .bar_content .btns-area .close-notify-bar{display:block;float:right;height:15px;width:15px;background:url(/assets/closebutton.png) repeat-x scroll 0 0 transparent;}
.jquery-notify-bar .bar_content .btns-area .close-notify-bar:hover{background:url(/assets/closebutton.png) repeat-x scroll 0 -30px transparent;}
.jquery-notify-bar .error{background:#b90002;}
.jquery-notify-bar.error a{color:white;font-weight:bold;font-style:italic;}
.jquery-notify-bar .welcome,.jquery-notify-bar.success{background:#a8d415;}
.jquery-notify-bar .warn{background:#FFF498;}
.jquery-notify-bar .get-start{background:#CCDFF5;}
.jquery-notify-bar .welcome .bar_content,.jquery-notify-bar.success .bar_content{color:#000;}
.jquery-notify-bar .error .bar_content{color:#fff;}
.jquery-notify-bar .warn .btn-close{float:right;}
.notify-bar-button{position:absolute;left:95%;}
.notify-bar-close{height:15px;width:15px;margin-top:15px;background:url(/assets/closebutton.png) no-repeat left top;display:block;float:right;}
.notify-bar-close:hover{background:url(/assets/closebutton.png) no-repeat left -30px;}
#date_picker{
cursor: pointer;
height: 25px;
width: 152px;
font-size: 15px;
background: url(/assets/calendar-icon.png) no-repeat 135px 6px white;
}

